<!DOCTYPE html>
<html lang="ja">
 <head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">  
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

<body>


<div class="main-container">
  <div class="title">
  <h1>福岡県のボルダリングジム検索サービス<h1>
  </div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle btn-success size" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="btnj">地域から探す</span>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">福岡市</a>
    <a class="dropdown-item" href="#">北九州市</a>
    <a class="dropdown-item" href="#">久留米市</a>
    <a class="dropdown-item" href="#">太宰府・宗像</a>
  </div>
</div>
  
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle btn-danger  size" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="btnj">特徴から探す</span>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">駐車場あり</a>
    <a class="dropdown-item" href="#">駅近</a>
    <a class="dropdown-item" href="#">広い施設</a>
    <a class="dropdown-item" href="#">キッズ壁</a>
    <a class="dropdown-item" href="#">高い壁</a>
    <a class="dropdown-item" href="#">シャワーあり</a>
  </div>
</div>



  

</div>
<body>